In [15]:
print("Hello World!")

Hello World!

**동해물과 백두산이 마르고 닳도록**

# 우아아아아
* 날짜 : 2023년
* 장소 : 창원대학교

In [16]:
def add (a, b):
    return a + b
print(add(2,3))

5

In [17]:
add = lambda x, y : x + y

print(add(2, 3))

5

In [18]:
print("Hello" + "World!")

HelloWorld!

In [19]:
print("Hello Python!")
print("Hello Python!")
print("Hello Python!")
print(100+200)

Hello Python!
Hello Python!
Hello Python!
300

In [20]:
print("***********************************")
print("안녕하세요~")
print("저는 홍길동입니다.")
print("대한대학교 정보통신공학과 1학년입니다")

print("***********************************")

***********************************
안녕하세요~
저는 홍길동입니다.
대한대학교 정보통신공학과 1학년입니다
***********************************

In [21]:
print("***********************************",
      "안녕하세요~",
      "저는 홍길동입니다.",
      "대한대학교 정보통신공학과 1학년입니다",
      "***********************************", sep="\n")

***********************************
안녕하세요~
저는 홍길동입니다.
대한대학교 정보통신공학과 1학년입니다
***********************************

In [22]:
print("""***********************************
안녕하세요~
저는 홍길동입니다.
대한대학교 정보통신공학과 1학년입니다
***********************************""")

***********************************
안녕하세요~
저는 홍길동입니다.
대한대학교 정보통신공학과 1학년입니다
***********************************

In [23]:
print(int(80 * 1.5),"km",sep="")

120km

In [24]:
print("제 나이는 ", 2023-1990,"입니다",sep="")
# seperate

제 나이는 33입니다

In [25]:
pi = 1234567890123.1415678
print("{:10.4f}".format(pi))
# 인덱싱

1234567890123.1416

In [26]:
print("섭씨", "화씨")
for i in range(0, 60, 10):
    celsius = 0
    celsius = i
    fahreniheit = (9/5) * celsius + 32
    print(celsius, " ",fahreniheit)

섭씨 화씨
0   32.0
10   50.0
20   68.0
30   86.0
40   104.0
50   122.0

In [27]:
c= int(input("섭씨온도를 입력하세요 : "))
f = (9/5) * c + 32
print(f"섭씨 {c}도 화씨는 {f}도 입니다.")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# 두 값 a,b의 평균을 출력하는 프로그램을 작성하시오.
# 국적, 이름, 출생년도를 입력받아, 국적, 이름, 나이를 출력하는 프로그램을 작성하시오. (ex)저는 대한민국에서
# 원의 반지름을 입력받아 원의 면적을 구하는 프로그램을 작성하시오. (공식은 알아서)

In [ ]:
def avr (a, b):
    return (a+b)/2
x = int(input("첫 번째 값을 입력하시오 : "))
y = int(input("두 번째 값을 입력하시오 : "))
print(f"{x}와 {y}의 평균은 : ", avr(x,y))

6와 89의 평균은 :  47.5

In [ ]:
a = input("국적을 입력하시오 : ")
b = input("이름을 입력하시오 : ")
c = int(input("출생년도를 입력하시오 : "))
print(f"저는 {a}에서 태어난 {b}입니다. 나이는 {2023 - c}살입니다.")

저는 미국에서 태어난 마이클입니다. 나이는 24살입니다.

In [ ]:
def pi (n):
    return 3.14 * n**2
z = int(input("원의 반지름을 입력하시오 : "))
print(f"반지름이 {z}인 원의 면적은 {pi(z)}입니다.")

반지름이 6인 원의 면적은 113.04입니다.

In [ ]:
name = str(input("이름을 입력하세요 : "))
print("이름 : ", name)
age = int(input("나이를 입력하세요 : "))
print("10년 후 나이 : ", age + 10)

이름 :  홍길동
10년 후 나이 :  40

# **2023년 05월 03일**

In [11]:
print("%f %d" %(10.5, 20))
# d는 십진수

10.500000 20

In [22]:
print("{:<10.2f}{}".format(10,"이름"))
# < 좌측정렬 / > 우측정렬

10.00     이름

In [26]:
# p.105 2.3
width = 30
height = 60
area = width * height
print("사각형의 면적 :", area)

사각형의 면적 : 1800

In [24]:
# p.108  2.13문제
r = int(input("원의 반지름을 입력하세요 : "))
pi = 3.1415192
print(f"원의 둘레 = {2*pi*r}, 원의 면적 = {pi*r**2}")

원의 둘레 = 62.830383999999995, 원의 면적 = 314.15191999999996

In [25]:
a = int(input("정수 a를 입력하시오 : "))
b = int(input("정수 b를 입력하시오 : "))
print(f"{a} / {b}의 몫 : {a//b}")
print(f"{a} / {b}의 나머지 : {a%b}")

10 / 5의 몫 : 2
10 / 5의 나머지 : 0

In [2]:
list4 = list(range(1, 10))
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
b = [1, 2, 3, 4, 5, 6, 7]
a.index('c')
a.count('a')
# a.extend(b)
a.insert(2, 'z')
a.remove('f')
# a.pop()
a.pop(2)
print(a)

['a', 'b', 'c', 'd', 'e', 'g']

In [13]:
a.remove(a[0])
print(a)

['c', 'd', 'e', 'g']

In [14]:
a.reverse()
print(a)

['g', 'e', 'd', 'c']

In [29]:
import pandas as pd
# pd.set_option('display.max_rows', None)
df = pd.read_csv('C:/Users/PC/Bcode/data.csv', encoding='euc-kr')

print(df)

     범죄대분류      범죄중분류     서울     부산     대구     인천     광주     대전     울산    세종
0     강력범죄       살인기수     67     20     13     17     11      8     12     2  \
1     강력범죄      살인미수등     96     41     23     34      7     16     11     1
2     강력범죄         강도    274    161     60    103     44     64     29     0
3     강력범죄         강간    969    383    216    304    216    181    132     3
4     강력범죄       유사강간    118     24     21     35     17     14     10     1
5     강력범죄       강제추행   4282    991    645    924    495    362    293    34
6     강력범죄  기타강간강제추행등     94     37     20     31     22     12      9     0
7     강력범죄         방화    315    117     86     94     48     41     36     5
8     절도범죄         절도  55280  20136  12759  10679   8438   9495   5449   638
9     폭력범죄         상해   7174   4675   2736   2179   1162   1516   1353   117
10    폭력범죄         폭행  36904   8852   6607   9774   5386   4054   4213   139
11    폭력범죄       체포감금    186     67     39     81     26     36     20     3
12    폭력범죄         협박   1844    682    443    433    297    286    175    29
13    폭력범죄       약취유인     45      6      6     12      5      4      1     1
14    폭력범죄      폭력행위등   6725   2449   1595   1988    817   1045    906    71
15    폭력범죄         공갈    634    558    263    222    118     94     79     4
16    폭력범죄         손괴  11735   3639   3019   3365   1791   1804   1530    88
17    지능범죄       직무유기    106     37     25     14     22     20     10    16
18    지능범죄       직권남용     98     28     14     12     10     14     12     2
19    지능범죄        증수뢰     57     15      8     11     10      3      0     1
20    지능범죄         통화    801     75     84    121     30     72     17     1
21    지능범죄       문서인장   3336   1259    691    689    455    451    346    36
22    지능범죄     유가증권인지    125      5      9     14      3      4      3     2
23    지능범죄         사기  53879  20533  11507  13141   7669   7250   5606   487
24    지능범죄         횡령  13314   2980   1725   2763   1416   1216    794   122
25    지능범죄         배임   1135    315    132    173    109     82    110    13
26    풍속범죄      성풍속범죄   5421   1164    933   1190    376    438    257    22
27    풍속범죄       도박범죄   1320    921    485    390    216    251    146     7
28  특별경제범죄     특별경제범죄  22075  13868   3421   5751   2535   1635   1289   187
29    마약범죄       마약범죄   1360    759    393    557     69     78     67     2
30    보건범죄       보건범죄   3941   1832    417    654    760    204    230    15
31    환경범죄       환경범죄     53    198     19     69      8     13     53     2
32    교통범죄       교통범죄  74958  35841  39725  31163  23412  13556  16600  1056
33    노동범죄       노동범죄    215    190     31     28     13     14     63     0
34    안보범죄       안보범죄     38      4      4     20      3      4      2     0
35    선거범죄       선거범죄     24     24     18     19      9      8     15     5
36    병역범죄       병역범죄   4591    959    800   1200    371    630    382    86
37    기타범죄       기타범죄  41752  19868   9766  13677   5301   4602   4881   462

    ...  경남 밀양  경남 사천  경남 양산  경남 진주  경남 창원  경남 통영  제주 서귀포  제주 제주  기타도시   도시이외
0   ...      1      0      2      4      7      2       0     11     7     30
1   ...      5      5      6      0     13      2       1     16     4     44
2   ...      1      4      2     13     26      3       4     29     4     65
3   ...     10     12     35     63     85     11      14     64    18    328
4   ...      1      1      3      1      8      1       1     12     0     33
5   ...     20     22     59     58    172     36      32    165    28    764
6   ...      1      2      1      4     13      3       1     11     2     55
7   ...      2      7      9     12     33      0      12     23     4    148
8   ...    313    358   1205   2032   5860    602     921   3309   643  11754
9   ...    134    194    307    408   1187    321     269    532   149   3941
10  ...    136    252    613    698   2650    319     570   1919   363   5712
11  ...      0      2     10     10     17      5       3      9     4     87
12  ...     17     15     49     58    160     26      56    234    44    547
13  ...      0      0      0      0      3      0       0      4     0     14
14  ...     82     78    144    202    669    138     145    383    95   2477
15  ...      9      0     16     19     87     11       8     37    26    178
16  ...    105    129    323    286   1199    186     331   1018   144   3029
17  ...      0      2      2      5      5      2       0      7     2     62
18  ...      0      2      5      3      4      1       2     10     2     40
19  ...      0      1      0      1      2      0       2      1     2     24
20  ...      1      2      2      6     12      2       2     14     4     61
21  ...     16     16     47     60    267     22      34    162   118    896
22  ...      0      0      0      0      0      0       0      0     2     12
23  ...    431    601   1256   1441   6170    592     695   2734  2097  14465
24  ...     51     52    180    165    708     74     122    439   235   1988
25  ...     11      5     19     19     62     11     131     36    33    308
26  ...      5      6     52     37    164     12      27    236    73    306
27  ...     16     10     24     27    124     89      38    106    46    744
28  ...    109    145    310    399   1018    111     269    982  1631   3027
29  ...     43     24     25     90    122     10       6     20    16    509
30  ...     51     29     57    123    258     19      37    131    36    843
31  ...     19     18      7     20     77     21      24     22    30    503
32  ...   1216   2517   3759   3351  12650   2936    3581  10857  2325  43877
33  ...      0      1     10      0     19     43       3      6     1     45
34  ...      1      0      0      1      1      0       0      0     1      6
35  ...      4      5      3     30     17      4      12     11     3    267
36  ...     57     42    158     92    355     52      52    190   155    808
37  ...    410   1040    978    933   3643   1594    1331   3130  1341  17797

[38 rows x 90 columns]

In [37]:
marvel_heroes = ["Iron Man", "Captain America", "Thor", "Hulk", "Black Widow"]
marvel_heroes.append("Hawkeye")
marvel_heroes

['Iron Man', 'Captain America', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye']

In [38]:
marvel_heroes[3:]

['Hulk', 'Black Widow', 'Hawkeye']

In [39]:
marvel_heroes.remove('Black Widow')
marvel_heroes

['Iron Man', 'Captain America', 'Thor', 'Hulk', 'Hawkeye']

In [41]:
marvel_herose = sorted(marvel_heroes)
marvel_heroes

['Iron Man', 'Captain America', 'Thor', 'Hulk', 'Hawkeye']

In [42]:
fruit = {'apple':[1,2,3], 'banana':['yellow','sweet','long']}
fruit['apple']

[1, 2, 3]

In [43]:
fruit['apple'][0]

1

In [44]:
fruit['orange'] = [4,5,6]
fruit

{'apple': [1, 2, 3],
 'banana': ['yellow', 'sweet', 'long'],
 'orange': [4, 5, 6]}

# **2023년 5월 4일**

In [8]:
my_list = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
print(my_list[1])
print(my_list[1:2])
print(my_list[:2])
print(my_list[4:])
print(my_list[1::2])

banana
['banana']
['apple', 'banana']
['kiwi', 'melon']
['banana', 'orange', 'melon']

In [10]:
my_dict = {'apple':1,'banana':2,'cherry':3, 'kiwi':4}
print(my_dict['cherry'])
my_dict['mango'] = 7
print(my_dict)

# 딕셔너리는 인덱스(순서)가 없기 때문에 순서를 만들기 위해 리스트로 만듦
keys = list(my_dict.keys())
print(keys[1:3])
items = list(my_dict.items())
print(items[:2])

3
{'apple': 1, 'banana': 2, 'cherry': 3, 'kiwi': 4, 'mango': 7}
['banana', 'cherry']
[('apple', 1), ('banana', 2)]

In [3]:
my_dict = {'score':[88,90,100], 'rank':[3,2,1]}
print(my_dict['score'][1])
print(my_dict['rank'][1:3])

90
[2, 1]

In [16]:
num_a = 100
num_b = 200
if num_a == num_b:
    print("Both numbers are equal")
else:
    print("Both numbers are not equal")

Both numbers are not equal

In [14]:
num_a = 300
num_b = 300
if num_a == num_b:
    print("Both numbers are equal")
else:
    print("Both numbers are not equal")

Both numbers are equal

In [19]:
num = int(input("Enter a number: "))
if num % 2 == 0:
   print("%d is Even" %num)
else:
   print("%d is Odd" %num)

7 is Odd

In [23]:
num_a = -10
if num_a < 0:
    print("Number is negative")
else:
    print("Number is positive")
    
    if num_a % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

Number is negative

In [24]:
score = 72
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

C

In [27]:
for i in [1,2,3,4,5]:
    print(i, end=" ")

1 2 3 4 5

In [31]:
for i in range(len(my_dict)):
    print(i)

0
1
2
3
4

In [4]:
a = [2,5,7,3,8]
for i in range(len(a)):
    print(a[i])

2
5
7
3
8

In [6]:
a = [2,5,7,3,8]
b = [1,3,4,5,6]
for i in zip(a,b):
    print(i)

(2, 1)
(5, 3)
(7, 4)
(3, 5)
(8, 6)

In [7]:
a = [2,5,7,3,8]
b = [1,3,4,5,6]
for i,j in zip(a,b):
    print(i,j)

2 1
5 3
7 4
3 5
8 6

In [8]:
a = [2,5,7,3,8]
for i in enumerate(a):
    print(i)

(0, 2)
(1, 5)
(2, 7)
(3, 3)
(4, 8)

In [9]:
a = [2,5,7,3,8]
for i,j in enumerate(a):
    print(i, j)

0 2
1 5
2 7
3 3
4 8

In [10]:
c = {1:'1', 3:'3'}
'3' in c.values()  # value 값을 찾을 때

True

**itertools 파이썬 기본 라이브러리 , 제너레이터 많이 있음** (combinations)

**반복자 - 문자열, 리스트, 튜플, 딕셔너리, 제너레이터**

**range는 값이 아닌, 범위를 생성. 필요할 때 그 범위 안의 값을 반환. 그래서 메모리 괜찮**

In [42]:
# range는 제너레이터임. 메모리를 별로 안 잡아먹음
10000000000000000000000000000 in (range(11000000000000000000000000000))

True

In [17]:
10000000000000000 in len(range(11000000000000000000))

OverflowError: Python int too large to convert to C ssize_t

In [22]:
if 0:
    print("true")
else:
    print("false")

world

In [27]:
if []:
    print("true")
else:
    print("false")

false

In [28]:
if None:
    print("true")
else:
    print("false")

false

In [30]:
lst = [1,3,5,7,9]
while lst:
    print(lst.pop())
# 마지막에 리스트에 아무것도 남지 않아서, while문 끝남

9
7
5
3
1

# break

In [33]:
lst = [1,3,5,7,9]
while lst:
    a = lst.pop()
    print(a)
    if a == 5:
        break

# break는 자신의 코드블록에서만 벗어남. 만약 두 번째 블록에서 break하면 첫 번째 문으로 넘어감.

9
7
5

In [39]:
for i in [1,3,5,7,9]:
    print(i)
    if i > 6:
        continue
    print('%d가 6보다 작음' %i)

1
1가 6보다 작음
3
3가 6보다 작음
5
5가 6보다 작음
7
9

In [4]:
a = 5
b = 2
try:
    print(a/b)
except:
    print("Error")
else:
    print("오류가 없으면 else로 넘어감")

2.5
오류가 없으면 else로 넘어감

In [7]:
a = 5
b = 0
try:
    print(a/b)
except:
    print("Error")
finally:
    print("그냥 마지막에 하는 거??")

Error
그냥 마지막에 하는 거??

In [9]:
a = "2"
if type(a) == int:
    print(a)
else:
    raise TypeError("정수만 가능합니다.")

TypeError: 정수만 가능합니다.

In [10]:
id(a)

140735360568504

**1.두 개의 정수를 입력하여 첫 번째 숫자가 두 번째 정수로 나누어 떨어지는지 검사하는 프로그램 작성**

In [25]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
if a % b :
    print("나눠떨어지지 않습니다.")
else:
    print("나눠떨어집니다.")

나눠떨어지지 않습니다.

**2. 세개의 정수를 입력하여 가장 작은 값을 찾는 프로그램**

In [16]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
c = int(input("Enter a number: "))
print("가장 작은 숫자는 : ", min(a,b,c))

가장 작은 숫자는 :  4

In [29]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
c = int(input("Enter a number: "))
lst = [a, b, c]
answer = lst[0]
for i in lst[1:]:
    if i < answer:
        answer = i
print(answer)

5

In [32]:
lst = list(map(int, input().split(" ")))
print(lst)
# 값이 여러 개일 때는 int로 전부 int로 바꿀 수 없어서 map함수를 쓴다.

[5, 6, 8]

**3.2부터 50사이의 모든 짝수를 출력하는 프로그램**

In [35]:
for i in range(2, 51):
    if i % 2 == 0:   # if not i % 2:
        print(i, end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

**4.리스트 [11,22,23,99,81,93,35]에 저장된 원소들의 합을 구하는 프로그램**

In [22]:
a = [11,22,23,99,81,93,35]
r = 0
for i in a:
    r += i
print(r)

364

In [37]:
sum([11,22,23,99,81,93,35])

364

**5. 1부터 100까지의 숫자 중에서 3과 5의 공배수의 합을 구하는 프로그램**

In [39]:
result = 0
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print(i, end=" ")
        result += i

print('\n',result)

15 30 45 60 75 90
 315

In [40]:
a = set(range(3,101,3))&set(range(5,101,5))
print(sum(a))

315